* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link{
    width: 100px;
    padding-top: 30px;
}
.link a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid lightgray;
    border-radius: 30px;
    margin-left: 30px;
    font-size: 30px;
    color: #FFFFFF;
    background-color: #212121;
}

.container {
    background-color: #E73535;
    width: 1440px;
    height: 1024px;
    gap: 0px;
    opacity: 0px;
    background-image: url("/assets/img/burger.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 40px;
}

.description {
    width: 517px;
    height: 598px;
    padding-top: 223px;
    padding-left: 165px;
    gap: 10px;
    opacity: 0px;
    margin-bottom: 40px;
}

.description h1 {
    width: 517px;
    height: 254px;
    gap: 0px;
    opacity: 0px;
    font-size: 140px;
    font-weight: 700;
    line-height: 127px;
    letter-spacing: -1.5750000476837158px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-bottom: 35px;
}

.description p {
    width: 517px;
    height: 101px;
    gap: 0px;
    opacity: 0px;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}

.button {
    width: 517px;
    margin-left: 165px;
    gap: 34px;
    opacity: 0px;
}

.button a {
    width: 294px;
    text-align: right;
    gap: 0px;
    opacity: 0px;
    padding-top: 30px;
    padding-right: 110px;
    padding-left: 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 48px;
    background-image: url("/assets/img/Group.png");
    background-repeat: no-repeat;
    background-position: right;
    text-decoration: none;
    text-decoration-skip-ink: none;
    border-radius: 100px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding-bottom: 30px;
    text-align: end;

}

.button p {
    background-image: url("/assets/img/Icon.png");
    background-repeat: no-repeat;
    background-position: 4px;
    width: 135px;
    height: 41px;
    padding-top: 41px;
    gap: 0px;
    opacity: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    margin-top: 50px;
    padding-left: 2px;
}

.button h5 {
    width: 200px;
    height: 50px;
    margin-bottom: 2px;
    text-align: left;
    gap: 0px;
    opacity: 0px;
    font-size: 10px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 71px;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
}